<%= simple_form_for(@user) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">

  <%= image_tag @user.image %>

  <h2>Profile</h2>

  <div class="col-md-4"> 
    <%= f.input :first_name,  disabled: true, hint: 'edit in Linkedin' %>
    <%= f.input :last_name,   disabled: true, hint: 'edit in Linkedin' %>
    <%= f.input :email,       disabled: true, hint: 'edit in Linkedin' %>
    <%= f.input :headline,    disabled: true, hint: 'edit in Linkedin' %>
  </div>

  <div class="col-md-4"> 
    <%= f.input :phone, hint: 'Format: 555-555-5555' %>   
    <%= f.input :emergency_phone, hint: 'Format: 555-555-5555' %>
  </div>

  <div class="col-md-4">  
    <%= f.input :address_desk %>
    <%= f.input :address_building %>
    <%= f.input :address_street %>
    <%= f.input :address_city %>
    <%= f.input :address_zip_code %>
    <%= f.input :address_state %>
    <%= f.input :address_country %>
  </div>

  <div class="form-actions col-md-12">
    <%= f.button :submit, 'Update Profile', class: 'btn btn-success' %>
  </div>
  <% end %>
