<div class='col-md-12'>
  <div class="well row">
    <div class="col-md-3">
      <p><%= image_tag user.image, class: 'img-responsive'  %></p>
    </div>

    <div class="col-md-3">           
      <p><strong><%= "#{user.first_name} #{user.last_name}" %></strong></p>
    </div>
    <div class="col-md-3">  
      <p><%= "#{user.email}" %></p>  
    </div>

    <div class="col-md-3">
      <p><%= "#{user.location}" %></p>
      <p><%= "#{user.headline}" %></p>
      <p><%= link_to 'LinkedIn Public Profile', user.linkedin_url %></p>  
    </div>
  </div>
</div>
