<div class="col-md-12 text-center">
  <h1><%= "#{current_user.first_name}'s " %>Upcoming Walks</h1>
  <%= link_to 'Past Walks', user_past_walks_path(current_user), class:'btn btn-primary btn-xl btn-block' %>
</div>

<br>

<div class="col-md-12">

  <% if @walks_plus_offers.empty? %>

  <h1>You don't have any walks yet...</h1>
  <div class="col-md-12">
    <%= link_to 'Walk a Pup', walks_path, class:'btn btn-info btn-lg btn-xl btn-block' %>
  </div>

  <div class="col-md-12">
    <%= link_to 'Post a Walk', new_walk_path, class:'btn btn-danger btn-lg btn-xl btn-block' %>
  </div>

  <% else %>

  <% @walks_plus_offers.each_with_index do |walk, index| %>
  <%= render partial: 'walks/walk', locals: { walk: walk, index: index } %>
  <% end %>

  <% end %>
</div>