<h1>Walk Details</h1>
<p>Drop off: <%= @request.job.drop_off_time.to_formatted_s(:long_ordinal) %></p>
<p>Place: <%= @request.job.drop_off_location %></p>
<p>Pick up: <%= @request.job.pick_up_time.to_formatted_s(:long_ordinal) %></p>
<p>Place: <%= @request.job.pick_up_location %></p>

<h1>Pup Details</h1>
<p>Pup: <%= @request.job.pup.pup_name %></p>
<p>Breed: <%= @request.job.pup.pup_breed %></p>
<p>Gender: <%= @request.job.pup.pup_gender %></p>
<p>Vet Phone: <%= @request.job.pup.pup_vet_phone %></p>
<p>Care Instructions: <%= @request.job.pup.pup_care_instructions %></p>
<p><%= image_tag(@request.job.pup.pup_pic, class: 'img-responsive') %></p>
  



