<h1>Owner</h1>
<p>First: <%= @request.requested_of_user.first_name %></p>
<p>Last: <%= @request.requested_of_user.last_name%></p>
<p>Phone: <%= @request.requested_of_user.phone %></p>
<p>Emergency Phone: <%= @request.requested_of_user.emergency_phone %></p>
<p>Owner's Building: <%= @request.requested_of_user.building %></p>

<h1>Walker</h1>
<p>First: <%= @request.user.first_name %></p>
<p>Last: <%= @request.user.last_name %></p>
<p>Phone: <%= @request.user.phone %></p>
<p>Emergency Phone: <%= @request.user.emergency_phone %></p>
<p>Walker's Building: <%= @request.user.building %></p>