<%= simple_form_for [current_user, @pup] do |f| %>
<%= f.error_notification %>

<div class="well form-inputs row">

  <div class="col-md-4">
    <%= image_tag @pup.pic, class: 'img-responsive' %>
    <%= f.input :pic %>
  </div>  

  <div class="col-md-8">
    <div class="col-md-4">
      <%= f.input :name %>
    </div>
    <div class="col-md-4">
      <%= f.input :breed %>
    </div>
    <div class="col-md-4">
      <%= f.input :age %>
      <!-- switch this to icon categories -->
    </div>
  </div>

  <div class="col-md-8">
    <div class="col-md-4">
      <strong>* Gender</strong>
      <br><br>
      <%= radio_button_tag 'pup[male_female]', 'm', class: 'required' %>
      <%= image_tag 'male.png' %>
      <br><br>
      <%= radio_button_tag 'pup[male_female]', 'f', class: 'required' %>
      <%= image_tag 'female.png' %>
    </div>

    <div class="col-md-4">
      <strong>* Weight</strong>
      <br><br>
      <%= radio_button_tag 'pup[weight]', '0-25', class: 'required' %>
      <%= image_tag 'dog-icon.png' %>
      <br><br>
      <%= radio_button_tag 'pup[weight]', '25-75', class: 'required' %>
      <%= image_tag 'dog-icon.png' %>
      <br><br>
      <%= radio_button_tag 'pup[weight]', '75-125', class: 'required' %>
      <%= image_tag 'dog-icon.png' %>
      <br><br>
      <%= radio_button_tag 'pup[weight]', '125+', class: 'required' %>
      <%= image_tag 'dog-icon.png' %>
    </div>

    <div class="col-md-4">
      <strong>* Personality</strong> 
      <br><br>
      <%= radio_button_tag 'pup[personality]', 'mellow', class: 'required' %>
      <%= image_tag 'paw-icon.png' %>
      <br><br>
      <%= radio_button_tag 'pup[personality]', 'temperate', class: 'required' %>
      <%= image_tag 'paw-icon.png' %>
      <br><br>
      <%= radio_button_tag 'pup[personality]', 'energetic', class: 'required' %>
      <%= image_tag 'paw-icon.png' %>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-4">
    <%= f.input :additional_info, label: 'Additional Information' %>
  </div>
</div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-success'%>
</div>

<% end %>