<div class="col-md-5 col-md-offset-2" >
  <%= image_tag pup.pic, class: 'img-responsive' %>  
</div>

<div class="col-md-5">
  <%= "#{pup.name}" %>
  <%= gender_icon pup %><br>
  <%= "#{pup.age} year-old #{pup.breed}" %><br>
  Size: <%= size_icon pup %><br>
  Energy Level: <%= energy_icon pup %>
</div>