<div class="well row">

  <div class="col-md-4">  
    <%= image_tag pup.pic, class: 'img-responsive' %>  
  </div>

  <div class="col-md-5">
    <strong><p><%= "#{pup.name}" %></p></strong>
    <p><%= "#{pup.breed}" %></p>
    <p><%= "#{pup.male_female}" %></p>   
    <p><%= "#{pup.age} years old" %></p>  
    <p><%= "#{pup.weight} pounds" %></p>  
    <p><%= "#{pup.additional_info}" %></p>
    <p><%= "Walks completed #{pup.walks_completed}" %></p>
  </div>

  <div class="col-md-6">
    <%= link_to 'Edit Pup', edit_user_pup_path(current_user, pup), class: 'btn btn-warning' %>
    <%= link_to 'Destroy Pup', user_pup_path(current_user, pup), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div><!-- row -->
<br>