<div class="col-md-12" >
  <strong><%= pup.name %></strong><%= gender_icon pup %>
</div>

<div class="col-md-6" >
  <%= image_tag pup.pic, class: 'img-responsive' %>  
</div>

<div class="col-md-6">
  <p class='hidden-xs'><%= "#{pup.age} year-old #{pup.breed}" %></p>
  <p class='hidden-xs'><small>SIZE &middot</small><%= size_icon pup %></p>
  <p class='hidden-xs'><small>ENERGY &middot</small><%= energy_icon pup %></p>
</div>