<p><strong><%= @contact.contact_type %></strong></p>
<br>
<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Company: <%= @contact.company %></p>
<p>Comment: <%= @contact.comment %></p>
