<h2>Sign in</h2>

<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-inputs">
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
</div>

<div class="form-actions">
  <%= f.button :submit, 'Sign in', class: 'btn btn-primary' %>
</div>
<% end %>

<br>
<%= render "devise/shared/links" %>

<!-- ############################### -->
<!-- ############################### -->
<!-- ############################### -->

<div id="root" style="width: 280px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
    embeded area
</div>
<script src="https://cdn.auth0.com/js/lock-7.5.min.js"></script>
<script>
  
  var lock = new Auth0Lock('tDBdqyH5Tg0G2wBMzXAyOVmV2GbGWmI8', 'pupshare.auth0.com');
  
  
  lock.show({
      container: 'root'
    , callbackURL: 'http://ruby-on-rails-103993.nitrousapp.com:3000/auth/auth0/callback'
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
  });
</script>