<%= form_tag walks_path, method: :get do %>

<div class="col-md-12 filter">
  <p><small>TIME</small></p>
  <div class="col-md-4">
    <%= check_box_tag 'today', Time.now + 1.days, @walks.search_attributes[:today] %>
    <%= label_tag 'today' %>
  </div>

  <div class="col-md-4">
    <%= check_box_tag 'this_week', Time.now + 7.days, @walks.search_attributes[:this_week] %>
    <%= label_tag 'this week?' %>
  </div>

  <div class="col-md-4">
    <%= check_box_tag 'next_week', Time.now + 14.days, @walks.search_attributes[:next_week] %>
    <%= label_tag 'next week?' %>
    <%= hidden_field_tag 'walk_begin_time', 'any' %>
  </div>
</div>

<div class="col-md-12 filter">
  <p><small>LOCATION</small></p>
  <div class="col-md-4">
    <%= "My location #{@my_location.data["city"]}, #{@my_location.data["region_code"]}" %>
  </div>
  <div class="col-md-4">
    <%= label_tag 'placeholder 2' %>
  </div>
  <div class="col-md-4">
    <%= label_tag 'placeholder 3' %>
  </div>
</div>

<div class="col-md-12 filter">
  <p><small>PUP</small></p>
  <div class="col-md-6">
    <%= check_box_tag 'male', 'm', @walks.search_attributes[:male] %>
    <%= male %>
  </div>

  <div class="col-md-6">
    <%= check_box_tag 'female', 'f', @walks.search_attributes[:female] %>
    <%= female %>
    <%= hidden_field_tag 'gender', 'any' %>
  </div>
</div>

<div class="col-md-12 filter">
  <p><small>SIZE</small></p>
  <div class="col-md-3">
    <%= check_box_tag 'xsml', '1', @walks.search_attributes[:xsml] %>
    <%= xsml %>
  </div>

  <div class="col-md-3">
    <%= check_box_tag 'sml', '2', @walks.search_attributes[:sml] %>
    <%= sml %>
  </div>

  <div class="col-md-3">
    <%= check_box_tag 'med', '3', @walks.search_attributes[:med] %>
    <%= med %>
  </div>

  <div class="col-md-3">
    <%= check_box_tag 'lrg', '4', @walks.search_attributes[:lrg] %>
    <%= lrg %>
    <%= hidden_field_tag 'size', 'any' %>
  </div>
</div>

<div class="col-md-12 filter">
  <p><small>ENERGY LEVEL</small></p>
  <div class="col-md-4">
    <%= check_box_tag 'mellow', 'mellow', @walks.search_attributes[:mellow] %>
    <%= mellow %>
  </div>

  <div class="col-md-4">
    <%= check_box_tag 'temperate', 'temperate', @walks.search_attributes[:temperate] %>
    <%= temperate %>
  </div>

  <div class="col-md-4">
    <%= check_box_tag 'energetic', 'energetic', @walks.search_attributes[:energetic] %>
    <%= energetic %>
    <%= hidden_field_tag 'energy', 'any' %>
  </div>
</div>

<div class="col-md-12 filter">
  <%= submit_tag "Go", class: 'btn btn-success btn-xl btn-block' %>
</div>

<% end %>