<%= simple_form_for(@walk) do |f| %>
<%= f.error_notification %>

<div class='well col-md-12'>

  <div class='col-md-3'>
    <%= f.input :building, placeholder: 'Ruby' %>
  </div>
  <div class='col-md-3'>
    <%= f.input :desk, placeholder: 'xyz-123' %>
  </div>
  <div class='col-md-6'>
    <%= f.input :full_street_address, placeholder: '123 Fake Street, Sometown, OH' %>
  </div>
</div>

<div class='well col-md-12'>
  <div class='col-md-2'>
    <%= link_to 'New pup', new_user_pup_path(current_user), class: 'btn btn-primary' %> 
  </div>
  <div class='col-md-4'>
    <%= f.association :pup, as: :radio_buttons, label_method: :name, collection: current_user.pups, include_blank: false %>
    <%#= f.collection_radio_buttons(:pup, current_user.pups, :id, :pup_pic) do |b| %>
    <%#= b.label { b.radio_button + b.object.pup_name + image_tag(b.object.pup_pic) } %>
    <%# end %>
  </div>
</div>

<div class='well col-md-12'>
  <div class='col-md-4'>
    <%= f.input :begin_time, ampm: true, start_hour: 7, end_hour: 18, minute_step: 15, start_year: Time.now.year, end_year: Time.now.year + 1 %>
  </div>

  <div class='col-md-4'>
    <%= f.input :duration, as: :radio_buttons, collection: [5,10,15,30,45,60], include_blank: false, checked: '15' %>
  </div>
</div>

<div class='col-md-12'>
  <%= f.button :submit, class: 'btn btn-success' %>
</div>

<% end %>
