<div class="panel-group" id="accordion">
  <div class='<%="panel panel-default"%>'>
    <div class='<%="panel-heading #{policy(walk).owner_current_user? ? 'walker' : 'owner'}" %>'>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-walks" href='<%= "#collapse-#{index}" %>'>

          <div class="col-md-2 text-center">
            <%= "Job ID: #{walk.id}" %><!-- TODO: for testing; to be removed -->
            <%= image_tag walk.pup.pic, class: 'img-responsive center-block img-rounded' %>
          </div>

          <div class="col-md-2 text-center">
            <%= "#{walk.pup.name} the #{walk.pup.breed} (#{walk.pup.male_female})" %>
          </div>

          <div class="col-md-4 text-center">
            <%= "#{distance_of_time_in_words_to_now walk.begin_time} from now" %>          
          </div>

          <div class="col-md-2 text-center">
            <%= "#{walk.address_neighborhood}, #{walk.address_city}" %>
          </div>

          <div class="col-md-2 text-center">
            <%= walk.walker.nil? ? "#{walk.offers.count} offers" : "#{walk.walker.first_name} #{walk.walker.last_name[0]}" %>
          </div>

        </a>
      </h4>
    </div><!-- <div class="panel-heading"> -->

    <div id='<%= "collapse-#{index}" %>' class="panel-collapse collapse">
      <div class="panel-body"> 

        <!-------------->
        <!---- BODY ---->
        <!-------------->

        <div class="row">

          <h2>Details</h2>

          <div class="col-md-2">
            <h3>Owner</h3>
            <%= walk.owner.first_name %>
            <%= link_to image_tag(walk.owner.image, class: 'img-responsive center-block img-rounded'), user_path(walk.owner) %>
          </div>

          <div class="col-md-3">
            <h3>When</h3>
            <%= walk.begin_time.to_formatted_s(:short) %>
          </div>

          <div class="col-md-3">
            <h3>Where</h3>
            <%= walk.address_desk %>
          </div>

          <!-- Start/End Buttons -->
          <div class="col-md-12">
            <% if walk.walker %>

            <% if policy(walk).walker_current_user? %>

            <% if policy(walk).walker_update_start? %>
            <%= link_to 'Start Walk', walk_path(walk, walk: { started_by_walker: true }), method: :put, class: 'btn btn-success btn-xl' %>
            <% else %>
            <%= link_to 'Start Walk', {}, method: :put, class: 'btn btn-success btn-xl disabled' %>
            <% end %>

            <% if policy(walk).walker_update_end? %>
            <%= link_to 'End Walk', walk_path(walk, walk: { ended_by_walker: true }), method: :put, class: 'btn btn-danger btn-xl' %>
            <% else %>
            <%= link_to 'End Walk', {}, method: :put, class: 'btn btn-danger btn-xl disabled' %>    
            <% end %>

            <% end %><%# if policy(walk).walker_current_user? %>

            <% end %><%# if walk.walker %>
          </div>
          <!-- Start/End Buttons -->

        </div> <!-- class="row" -->

        <div class="col-md-12">
          <%= 'Walk officially started' if policy(walk).started? %> 
          <%= 'Walk officially ended' if policy(walk).ended? %>
        </div>


        <div class="row">

          <% if !walk.walker %>

          <h2>Offers</h2>

          <% walk.offers.each do |offer| %>

          <div class="col-md-2">
            <%= link_to image_tag(offer.walker.image, class: 'img-responsive'), user_path(offer.walker) %>
          </div>

          <div class="col-md-2">
            <%= "#{offer.walker.first_name} #{offer.walker.last_name[0]}." %>
          </div>

          <div class="col-md-4">
            <%= offer.walker.headline %>
          </div>

          <div class="col-md-2">
            <%#= "#{offer.walker.address_city}, #{offer.walker.address_state}" %>
          </div>

          <div class="col-md-2">
            <%= link_to 'Accept offer', walk_path(offer.walk, walk: { walker_id: offer.walker.id }), method: :put, confirm: 'Are you sure?', class: 'btn btn-success btn-lg' if policy(offer.walk).owner_current_user? %>
          </div>

          <% end %><!-- end walk.offers loop -->
          <% end %><!-- end !walk.walker if-stmt -->

        </div> <!-- class="row" -->

        <div class="row">
          <div class="col-md-12">
            <% if policy(walk).not_started? %>
            <%= render partial: 'walks/buttons', locals: { walk: walk } %>
            <% end %>
          </div>
        </div> <!-- class="row" -->

        <!-------------->
        <!-- END BODY -->
        <!-------------->

      </div><!-- <div class="panel-body"> -->
    </div><!-- <div id="collapseOne" class="panel-collapse collapse in"> -->
  </div><!-- <div class="panel panel-default"> -->
</div><!-- <div class="panel-group" id="accordion"> -->