<div class='col-md-6 walk'>

  <div class='<%="#{policy(walk).owner_current_user? ? 'walker' : 'owner'}" %>'>

    <div class="col-md-12 bottom-space top-space">
      <!-- walk/cancel/rescind > 15min before walk -->
      <%= render(partial: 'walks/buttons_distant', locals: { walk: walk } ) if not walk.coming_up? %>
      <!-- start/stop < 15 min before walk -->
      <%= render(partial: 'walks/buttons_close', locals: { walk: walk } ) if walk.coming_up? %>
      <!-- walk ended -->
      <%= 'Walk officially ended' if policy(walk).ended? %>
    </div>

    <div class="col-md-12 filter">
      <%= render partial: 'pups/pup_sub', locals: { pup: walk.pup } %>
      <div class="col-md-6 bottom-space">
        <%= link_to image_tag(walk.owner.image, class: 'walk-detail'), user_path(walk.owner) %>
        <small>OWNER &middot</small><strong><%= link_to " #{walk.owner.first_name}", user_path(walk.owner) %></strong>
      </div>
    </div>

    <div class="col-md-12 filter">
      <% if walk.winning_offer %>

      <div class="col-md-12">
        <%= link_to image_tag(walk.winning_offer.walker.image, class: 'walk-detail'), user_path(walk.winning_offer.walker) %>
        <small>WALKER &middot</small><strong><%= link_to " #{walk.winning_offer.walker.first_name}", user_path(walk.winning_offer.walker) %></strong>
      </div>

      <% else %>
      <div class="col-md-12">

        <!-- Modal -->
        <button type="button" class="btn btn-primary btn-xl btn-block" data-toggle="modal" data-target='#<%= "offer-set-#{index}" %>'>
          <%= "#{walk.offers.count} Offers" %>
        </button>

        <div class="modal fade" id='<%= "offer-set-#{index}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">OFFERS &middot CHOOSE ONE</h4>
              </div>

              <div class="modal-body">
                <%= render walk.offers %>
              </div>

              <div class="modal-footer">
              </div>

            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- Modal -->
    </div>

    <div class="col-md-12 bottom-space filter">
      <div class="col-md-6 text-truncate">
        <small class="">WHERE</small><br>         
        <%= link_to walk.location.full_street_address, "http://maps.google.com/maps?&z=15&q=#{walk.location.latitude}+#{walk.location.longitude}&ll=#{walk.location.latitude}+#{walk.location.longitude}", class: 'text-truncate', target: "_blank" if walk.location.latitude.present? and walk.location.longitude.present? %>

      </div>
      <div class="col-md-6">
        <small class="">WHEN &middot</small><%= " #{walk.begin_time.to_formatted_s(:short)} " %><br>
        <small class="">LENGTH &middot</small><%= " #{walk.duration} minutes" %>
      </div>
    </div>

  </div>
</div>