<div class="panel-group" id="accordion">
  <div class='<%="panel panel-default"%>'>
    <div class='<%="panel-heading #{walk.owner == current_user ? 'walker' : 'owner'}" %>'>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-walks" href='<%= "#collapse-#{index}" %>'>

          <div class="col-md-2">
            <%= "Job ID: #{walk.id}" %><!-- TODO: for testing; to be removed -->
            <%= image_tag walk.pup.pic, class: 'img-responsive' %>
          </div>

          <div class="col-md-2">
            <%= "#{walk.pup.name} the #{walk.pup.breed} (#{walk.pup.male_female})" %>
          </div>

          <div class="col-md-4">
            <%= "#{walk.duration}-minute walk in #{distance_of_time_in_words_to_now walk.begin_time}" %>          
          </div>

          <div class="col-md-2">
            <%#= walk.begin_location %>
          </div>

          <div class="col-md-2">
            <%= walk.walker.nil? ? "#{walk.offers.count} offers" : "#{walk.walker.first_name} #{walk.walker.last_name[0]}" %>
          </div>

        </a>
      </h4>
    </div><!-- <div class="panel-heading"> -->

    <div id='<%= "collapse-#{index}" %>' class="panel-collapse collapse">
      <div class="panel-body"> 

        <!-------------->
        <!---- DATA ---->
        <!-------------->

        <div class="row">

          <h2>Details</h2>

          <div class="col-md-2">
            <h3>Owner</h3>
            <%= walk.owner.first_name %>
            <%= link_to image_tag(walk.owner.image, class: 'img-responsive'), user_path(walk.owner) %>
          </div>

          <div class="col-md-3">
            <h3>When</h3>
            Begin:<%= walk.begin_time.to_formatted_s(:short) %>
          </div>

          <div class="col-md-3">
            <h3>Where</h3>
            Where: <%#= walk.begin_location %>
          </div>

          <div class="col-md-12">
            <% if walk.walker %>
            <%= link_to 'Start Walk', walk_path(walk, walk: { started_by_owner: true }),  method: :put, class: 'btn btn-success btn-xl' if policy(walk).owner_update_start? %>
            <%= link_to 'End Walk',   walk_path(walk, walk: { ended_by_owner: true }),    method: :put, class: 'btn btn-danger btn-xl'  if policy(walk).owner_update_end? %>
            <%= link_to 'Start Walk', walk_path(walk, walk: { started_by_walker: true }), method: :put, class: 'btn btn-success btn-xl' if policy(walk).walker_update_start? %>
            <%= link_to 'End Walk',   walk_path(walk, walk: { ended_by_walker: true }),   method: :put, class: 'btn btn-danger btn-xl'  if policy(walk).walker_update_end? %>
            <% end %>
          </div>

        </div> <!-- class="row" -->

        <div class="col-md-12">
          <%= 'Walk officially started' if policy(walk).started? %>
          <%= 'Walk officially ended'   if policy(walk).ended?   %>
        </div>


        <div class="row">

          <% if !walk.walker %>

          <h2>Offers</h2>

          <% walk.offers.each do |offer| %>

          <div class="col-md-2">
            <%= link_to image_tag(offer.walker.image, class: 'img-responsive'), user_path(offer.walker) %>
          </div>

          <div class="col-md-2">
            <%= "#{offer.walker.first_name} #{offer.walker.first_name}" %>
          </div>

          <div class="col-md-4">
            <%= offer.walker.headline %>
          </div>

          <div class="col-md-2">
            <%#= "#{offer.walker.address_city}, #{offer.walker.address_state}" %>
          </div>

          <div class="col-md-2">
            <%= link_to 'Accept offer', walk_path(offer.walk, walk: { walker_id: offer.walker.id }), method: :put, confirm: 'Are you sure?', class: 'btn btn-success btn-lg' if policy(offer.walk).owner_current_user? %>
          </div>

          <% end %><!-- end walk.offers loop -->
          <% end %><!-- end !walk.walker if-stmt -->

        </div> <!-- class="row" -->

        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'walks/buttons', locals: { walk: walk } %>
          </div>
        </div> <!-- class="row" -->

        <!-------------->
        <!-- END DATA -->
        <!-------------->

      </div><!-- <div class="panel-body"> -->
    </div><!-- <div id="collapseOne" class="panel-collapse collapse in"> -->
  </div><!-- <div class="panel panel-default"> -->
</div><!-- <div class="panel-group" id="accordion"> -->