<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-walks" href='<%= "#collapse-#{index}" %>'>
          <%= image_tag walk.pup.pic, class: 'img-responsive profile-image pull-left' %>
          <h4><%= walk.pup.name %></h4>
          <p><%= walk.id %></p> <!-- TODO: for testing; to be removed -->
          <p><%= distance_of_time_in_words walk.begin_time, DateTime.now %></p>
          <p><%= walk.begin_location %></p>
        </a>
      </h4>
    </div><!-- <div class="panel-heading"> -->

    <div id='<%= "collapse-#{index}" %>' class="panel-collapse collapse">
      <div class="panel-body"> 

        <!-------------->
        <!---- DATA ---->
        <!-------------->

        <div class="col-md-1">
          Owner
          <%= link_to image_tag(walk.owner.image, class: 'img-responsive profile-image'), user_path(walk.owner) %>
          <%= walk.owner.first_name %>
        </div>

        <div class="col-md-1">
          Pup
          <%= link_to image_tag(walk.pup.pic, class: 'img-responsive profile-image'), user_path(walk.owner) %>
          <%= walk.pup.name %>
        </div>

        <div class="col-md-3">
          Walk<br>
          Begin: <%= walk.begin_time.to_formatted_s(:short) %><br>
          Where: <%= walk.begin_location %><br>
          End: <%= walk.end_time.to_formatted_s(:short) %><br>
        </div>

        <div class="col-md-3">

          Walker
          <% if walk.walker.nil? %>
          Nobody yet
          <% else %>
          <%= link_to image_tag(walk.walker.image, class: 'img-responsive profile-image'), user_path(walk.walker) %>
          <%= walk.walker.first_name %>
          <br>
          <% if walk.begin_time - Time.now < 60.minutes %>
          <% if walk.owner == current_user %>    
          <%= link_to 'Start Walk', walk_path(walk, walk: { started_by_owner: true }), method: :put, class: 'btn btn-success btn-xl' %>
          <%= link_to 'End Walk',   walk_path(walk, walk: { ended_by_owner: true }),   method: :put, class: 'btn btn-danger btn-xl' %>
          <% elsif walk.walker == current_user %>   
          <%= link_to 'Start Walk', walk_path(walk, walk: { started_by_walker: true }), method: :put, class: 'btn btn-success btn-xl' %>
          <%= link_to 'End Walk',   walk_path(walk, walk: { ended_by_walker: true }),   method: :put, class: 'btn btn-danger btn-xl' %>
          <% end %>  
          <% end %>

          <% if walk.started_by_owner && walk.started_by_walker %>    
          Walk officially started
          <% end %>

          <br>

          <% if walk.ended_by_owner && walk.ended_by_walker %>    
          Walk officially ended
          <% end %>

          <% end %>

        </div>

        <div class="col-md-12">
          <% if walk.walker.nil? %>
          Offers
          <% walk.offers.each do |offer| %>
          <%= link_to image_tag(offer.walker.image, class: 'img-responsive profile-image'), user_path(offer.walker) %>
          <%= offer.walker.first_name %>
          <%= offer.walker.last_name %>
          <%= offer.walker.headline %>
          <% if offer.walk.owner == current_user %>
          <%= link_to 'Accept offer', walk_path(offer.walk,
  walk: { walker_id: offer.walker.id }), method: :put, confirm: 'Are you sure?', class: 'btn btn-success btn-xs' %>
          <% end %>
          <% end %>
          <% end %>
        </div>

        <br>
        <div class="col-md-12">
          <%= render partial: 'walks/buttons', locals: { walk: walk } %>
        </div>

        <!-------------->
        <!-- END DATA -->
        <!-------------->

      </div><!-- <div class="panel-body"> -->
    </div><!-- <div id="collapseOne" class="panel-collapse collapse in"> -->
  </div><!-- <div class="panel panel-default"> -->
</div><!-- <div class="panel-group" id="accordion"> -->