<div class="panel-group" id="accordion">
  <div class='panel panel-default'>

    <div class='<%="panel-heading #{policy(walk).owner_current_user? ? 'walker' : 'owner'}" %>'>
      <div class="col-md-2">
        <%= link_to image_tag(walk.owner.image, class: 'img-responsive img-rounded walk-detail'), user_path(walk.owner) %>
      </div>
      <div class="col-md-10">
        <strong><%= link_to walk.owner.first_name, user_path(walk.owner) %></strong>
      </div>

      <a data-toggle="collapse" data-parent="#accordion-walks" href='<%= "#collapse-#{index}" %>'>
        <div class='row'>
          <div class="col-md-12">
            <%= render partial: 'pups/pup_sub', locals: { pup: walk.pup } %>
          </div>
        </div>
      </a>
    </div><!-- <div class="panel-heading"> -->

    <div id='<%= "collapse-#{index}" %>' class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row well">

          <div class="col-md-3">
            <p><small>LOCATION</small></p>
            <p><strong>
              <%= link_to walk.location.full_street_address, "http://maps.google.com/maps?&z=15&q=#{walk.location.latitude}+#{walk.location.longitude}&ll=#{walk.location.latitude}+#{walk.location.longitude}", target: "_blank" if walk.location.latitude.present? and walk.location.longitude.present? %></strong></p>
          </div>

          <div class="col-md-9">
            <p><small>OFFERS</small></p>
            <%= render walk.offers %>
          </div>
        </div>

        <div class="col-md-12">
          <%= render(partial: 'walks/buttons', locals: { walk: walk } ) if policy(walk).not_started? %>
        </div>
      </div>
    </div>
  </div>
</div>


<%#= "#{distance_of_time_in_words_to_now walk.begin_time} from now" %>
<%#= !walk.winning_offer ? "#{walk.offers.count} offers" : "#{walk.winning_offer.walker.first_name} #{walk.winning_offer.walker.last_name[0]}" %>

<% if walk.winning_offer %>
  <% if policy(walk).walker_current_user? %>
    <h3>What now?</h3>

    <% if policy(walk).walker_update_start? %>
    <%= link_to 'Start Walk', walk_path(walk, walk: { started_by_walker: true }), method: :put, class: 'btn btn-success btn-xl' %>
    <% else %>
    <%= link_to 'Start Walk', {}, method: :put, class: 'btn btn-success btn-xl disabled' %>
    <% end %>

    <% if policy(walk).walker_update_end? %>
    <%= link_to 'End Walk', walk_path(walk, walk: { ended_by_walker: true }), method: :put, class: 'btn btn-danger btn-xl' %>
    <% else %>
    <%= link_to 'End Walk', {}, method: :put, class: 'btn btn-danger btn-xl disabled' %>
    <% end %>
  <% end %>

<% else %>
  <p><small>WALKER</small></p>
  <%#= walk.winning_offer.walker.first_name %>
  <%#= link_to image_tag(walk.walker.image, class: 'img-responsive img-rounded walk-detail'), user_path(walk.walker) %>
<% end %>


<%= 'Walk officially started' if policy(walk).started? %>
<%= 'Walk officially ended' if policy(walk).ended? %>

