<h2>Walk</h2>

<%= render @walk %>

<% if @walk.walker.nil? # don't show offers for already-accepted job %>
<h2>Offers to walk</h2>
<% @walk.offers.each do |offer| %>
<div class="col-md-4">
  <%= render partial: 'users/user', locals: { user: offer.owner } %>
  <% if @walk.owner == current_user %>
  <%= simple_form_for @walk do |f| %>
  <%= f.hidden_field :walker_id, value: offer.walker.id %>
  <%= f.button :submit, 'Choose me', class: 'btn btn-success' %>
  <% end %>
  <% end %>
</div>
<% end %>
<% end %>