<h1>Someone walks my pup</h1> 

<div class="bs-example">

  <% current_user.walks.order(:begin_time).each_with_index do |walk, index| %>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-walks" href='<%= "#collapse-#{index}" %>'><%= "#{walk.pup.name} in #{distance_of_time_in_words walk.begin_time, DateTime.now}" %></a>
        </h4>
      </div><!-- <div class="panel-heading"> -->

      <div id='<%= "collapse-#{index}" %>' class="panel-collapse collapse in">
        <div class="panel-body"> 

          <!-------------->
          <!---- DATA ---->
          <!-------------->

          <div class="col-md-1">
            Owner
            <%= link_to image_tag(walk.owner.image, class: 'img-responsive profile-image'), user_path(walk.owner) %>
            <%= walk.owner.first_name %>
          </div>

          <div class="col-md-1">
            Pup
            <%= link_to image_tag(walk.pup.pic, class: 'img-responsive profile-image'), user_path(walk.owner) %>
            <%= walk.pup.name %>
          </div>

          <div class="col-md-3">
            Walk<br>
            Begin: <%= walk.begin_time.to_formatted_s(:short) %><br>
            Where: <%= walk.begin_location %><br>
            End: <%= walk.end_time.to_formatted_s(:short) %><br>
          </div>

          <div class="col-md-3">
            <% if walk.walker.nil? %>
            Nobody yet
            <% else %>
            <%= link_to "#{walk.walker.first_name}", user_path(walk.walker) %>
            <% end %>
          </div>

          <div class="col-md-12">
            Offers
            <% walk.offers.each do |offer| %>
            <%= link_to image_tag(offer.walker.image, class: 'img-responsive profile-image'), user_path(offer.walker), label: 'some link' %>
            
            <% end %>
          </div>

          <div class="col-md-1">
            <%= render partial: 'walks/buttons', locals: { walk: walk } %>
          </div>

          <!-------------->
          <!-- END DATA -->
          <!-------------->

        </div><!-- <div class="panel-body"> -->
      </div><!-- <div id="collapseOne" class="panel-collapse collapse in"> -->
    </div><!-- <div class="panel panel-default"> -->
  </div><!-- <div class="panel-group" id="accordion"> -->

  <% end %>

</div><!-- <div class="bs-example"> -->