<!DOCTYPE html>
<html>
  <head>
    <title>PupShare</title>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false  %>
    <%= csrf_meta_tags %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  </head>

  <body>

    <div class='col-md-9 col-md-offset-1'>

      <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>	
      <% elsif alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>		
      <% end %>

      <div class='col-md-12'>
        <h1 class='banner'>PupShare</h1>
      </div>

      <div class='col-md-12'>
        <p>Walk | Network</p>
      </div>

      <br><br><br>

      <div class='col-md-12'>
        <% if user_signed_in? %>
        <h1><%= link_to 'My Walks', user_upcoming_walks_path(current_user), class: 'btn-transparent md-buttont' %></h1>
        <h1><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn-transparent md-button' %></h1>
        <% else %>
        <h1><%= link_to 'in', "/auth/linkedin", class: 'btn-transparent big-button' %></h1>
        <% end %>
      </div>

      <div class='col-md-2 big-button'>
        <%= link_to new_visitor_message_path, class: "btn btn-transparent contact" do %>
        <h1 class="glyphicon glyphicon-envelope"></h1>
        <% end %>
      </div>

      <div class='col-md-12'>
        <br><br>
      </div>

      <div class='col-md-6'>
        <p class='about'>
          Sign in to walk or find a walker
        </p>
      </div>

    </div>

  </body>

</html>