<!DOCTYPE html>
<html>
  <head>
    <title>PupShare</title>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class='container-fluid'>
      <div class='col-xs-12 col-md-8'>
        
        <% if notice.present? %>		
        <p class="alert alert-info"><%= notice %></p>		
        <% end %>		
        <% if alert.present? %>		
        <p class="alert alert-danger"><%= alert %></p>		
        <% end %>
        
        <div class='box'>
          <h1>PupShare</h1>
          <p>Walk a Pup - Build Your Network</p>
          <% if !user_signed_in? %>
          <p><%= link_to 'Sign in with Linkedin', "/auth/linkedin", class: 'btn-transparent' %></p>
          <% else %>
          <p><%= link_to 'My Upcoming Walks', user_upcoming_walks_path(current_user), class: 'btn-transparent' %></p>
          <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn-transparent' %></p>
          <% end %>
        </div>
      </div>
      <p><%= link_to 'Contact', new_visitor_message_path, class: 'btn-transparent contact' %></p>
    </div> 
  </body>

</html>